# =====================
# Python
# =====================

__pycache__/
*.py[cod]


# =====================
# Testing
# =====================

.pytest_cache/
.coverage
htmlcov/


# =====================
# Virtual Environment
# =====================

venv/
ai-env/


# =====================
# Environment
# =====================

.env

configs/env/.env.*
!configs/env/.env.example


# =====================
# Logs
# =====================

logs/
*.log


# =====================
# AI Models
# =====================

models/*

!models/.gitkeep


# =====================
# Vector Database
# =====================

chroma_db/


# =====================
# Runtime Memory
# =====================

memory/*.json

!memory/default.json


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# OS
# =====================

.DS_Store
Thumbs.db


# =====================
# Temp
# =====================

*.tmp
*.bak


# =====================
# Archive
# =====================

archive/
